<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="bg_color">
  <div class="uk-section ">
    <div class="uk-container  ">
      <header>
        <div class="uk-container  ">
          {{ partial "header.html" . }}
        </div>
      </header>
    </div>
  </div>
  <div class="uk-section ">
    <div class="uk-container ">
      <main >
        <div class="bg_color">
          {{ block "main" . }}{{ end }}
        </div>
       
      </main>
    </div>
  </div>
  <div class="uk-section ">
    <div class="uk-container  ">
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </div>
</body>

</html>